<div class="menu-wrapper">
  <ul>
    <li (click)="goTo('/', 'Home')" matTooltip="Home" class="accentFont-hover">
      <fa-icon [icon]="homeIco"></fa-icon>
      <span [hidden]="setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Home</span>
    </li>
    <li (click)="goTo('/contracts', 'Contracts')" matTooltip="Contracts" class="accentFont-hover">
      <fa-icon [icon]="contractsIco"></fa-icon>
      <span *ngIf="!setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Contracts</span>
    </li>
    <li (click)="goTo('/keys', 'Keys')" matTooltip="Keys" class="accentFont-hover">
      <fa-icon [icon]="keysIco"></fa-icon>
      <span *ngIf="!setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Keys</span>
    </li>
    <li (click)="goTo('/identity', 'Identities')" matTooltip="Identities" class="accentFont-hover">
      <fa-icon [icon]="identityIco"></fa-icon>
      <span *ngIf="!setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Identities</span>
    </li>
    <li (click)="goTo('/namespaces', 'Namespaces')" matTooltip="Namespaces" class="accentFont-hover">
      <fa-icon [icon]="namespacesIco"></fa-icon>
      <span *ngIf="!setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Namespaces</span>
    </li>
    <li (click)="goTo('/signing', 'Signing')" matTooltip="Signing" class="accentFont-hover">
      <fa-icon [icon]="signingIco"></fa-icon>
      <span *ngIf="!setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Signing</span>
    </li>
    <li (click)="goTo('/run', 'Run')" matTooltip="Run" class="accentFont-hover">
      <fa-icon [icon]="runIco"></fa-icon>
      <span *ngIf="!setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Run</span>
    </li>
    <li (click)="goTo('/swagger', 'Core API')" matTooltip="Core API" class="accentFont-hover">
      <fa-icon [icon]="coreApiIco"></fa-icon>
      <span *ngIf="!setup.hideMenuNames" class="sideMenu-item">&nbsp;&nbsp;&nbsp;&nbsp;Core API</span>
    </li>
  </ul>
</div>