div {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    li {
      cursor: pointer;
      padding: 4px 8px;
      text-align: center;

      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: #6e49ff;
        color: #fff;
      }
    }

    .selected {
      background-color: #6e49ff;
      color: #fff;
    }
  }
}
