::ng-deep.mat-tab-body-wrapper {
  height: 100%;
}

#container {
  width: 100%;
  padding: 0;
  margin: 0;

  .row {
    padding: 0;
    margin: 0;

    .col {
      padding: 0;
      margin: 0;
    }
  }

  .edit-holder {
    width: calc(100% - 160px);
    float: right;
  }

  .workflow-holder {
    width: 160px;
    display: inline-block;
  }
}
