<div>
  <h1 mat-dialog-title>Add SSH Connection</h1>
  <div>
    <p>
      Your password will not be stored.
      An SSH Keypair can be generated and used to connect.
    </p>
    <form [formGroup]="sshConnectionForm">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name" required>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Address" type="text" formControlName="address" required>
      </mat-form-field>
      &nbsp;:&nbsp;
      <mat-form-field>
        <input matInput placeholder="Port" type="number" formControlName="port" required>
      </mat-form-field>
      <br />
      <mat-form-field stye="width:100%">
        <input matInput placeholder="Node Location" type="text" formControlName="nodeLocation" required>
      </mat-form-field>
      <br />

      <div *ngIf="authMethod !== 'password'">
        <mat-form-field>
          <input matInput placeholder="Username" type="text" formControlName="username" required>
        </mat-form-field>
        &nbsp;:&nbsp;
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password" required>
        </mat-form-field>
      </div>
      <br />
      <mat-radio-group ngDefaultControl aria-label="Authentication method" formControlName="authMethod">
        <mat-radio-button value="generate" checked>Generate SSH Key</mat-radio-button>
        <br />
        <mat-radio-button value="password">Use Password (Not stored)</mat-radio-button>
        <br />
        <mat-radio-button value="onboard">Onboard SSH Key</mat-radio-button>
      </mat-radio-group>
      <br />

      <mat-form-field class="keyInput" *ngIf="authMethod === 'onboard'">
        <textarea rows="10" matInput placeholder="SSH Private Key" type="text" formControlName="key"></textarea>
      </mat-form-field>

    </form>

    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">Cancel</button>
      <!-- <button mat-button (click)="create()" cdkFocusInitial [disabled]="sshConnectionForm.invalid">Ok</button> -->
      <button mat-button (click)="create()">Ok</button>
    </div>

  </div>
</div>