.wrapper {
  margin-top: 20px;
}

.rename {
  opacity: 0.5;
  transition: opacity 0.2s linear;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    opacity: 0.9;
  }
}

.progressBar {
  margin-top: 20px;
}

.basic-margin {
  margin-right: 12px;
}

.button-spacer {
  margin-right: 10px;
}
