<div>
  <h1 mat-dialog-title>SSH Login</h1>
  <div>
    <mat-form-field>
      <input matInput placeholder="Username" type="text" [(ngModel)]="loginDetails.username" required>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Password" type="password" [(ngModel)]="loginDetails.password" required>
    </mat-form-field>
    <br />

    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-button (click)="login()">Login</button>
    </div>
  </div>