<div>
  <h1 mat-dialog-title>Manage Node Tags: {{nodeName}}</h1>

  <p>Click tags to mark for removal, click again to unmark.</p>

  <ul>
    <li *ngFor="let tag of nodeTags" class="listItem" (click)="removeTag(tag)">
      {{tag}}
      <fa-icon [icon]="icons.remove" class="removeIco" *ngIf="removeTags.includes(tag)">
      </fa-icon>
    </li>
  </ul>

  <mat-form-field>
    <mat-label>Link Tag</mat-label>
    <mat-select [(ngModel)]="newTag">
      <mat-option *ngFor="let tag of tags" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  &nbsp;
  &nbsp;
  <button mat-button (click)="addTag()">Add</button>


  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
  </div>
</div>