.main {
  display: flex;
  flex-direction: row;

  width: 100%;
  padding: 40px;

  .nodes-list-wrapper {
    width: calc(75% - 20px);
    margin-right: 20px;

    .list-topper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      background-color: #333;
      border-bottom: solid 1px #6e49ff;
      color: #fff;

      .title {
        padding: 10px;
        font-size: 18pt;
        font-weight: 100;
      }

      .tags-filter {
        background: rgb(235, 235, 235);
        padding: 4px 6px;

        ::ng-deep .mat-select-value,
        ::ng-deep .mat-select-arrow {
          color: #333 !important;
        }
      }
    }

    .content {
      padding: 0;

      .node-list {
        width: 100%;
        margin: 0;

        background-color: #333;

        overflow-y: auto;

        .mat-header-cell,
        .mat-cell {
          color: #fff;
          border-color: rgba($color: #000000, $alpha: 0);
        }

        .mat-header-cell {
          font-weight: 100;
          font-size: 1em;
        }

        .mat-row:nth-child(even) {
          background-color: #38374b;
        }

        .mat-row {
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: rgba($color: #000, $alpha: 0.4);
          }
        }

        .selected-node {
          background-color: #6e49ff !important;
        }

        .list-control {
          cursor: pointer;
          font-size: 1.1em;

          transition: color 0.3s ease-in-out;

          &:hover {
            color: #6e49ff;
          }
        }

        .refresh {
          padding-left: 20px;
        }

        .logs {
          padding-left: 6px;
        }
      }
    }
    .paginator {
      background-color: #333;
      color: #fff !important;
    }
    .mat-paginator {
      ::ng-deep .mat-select-value,
      ::ng-deep .mat-select-arrow {
        color: #fff !important;
      }

      ::ng-deep .mat-icon-button {
        color: #fff;

        transition: color 0.3s ease-in-out;

        &:hover {
          color: #6e49ff;
        }
      }

      ::ng-deep .mat-icon-button[disabled][disabled] {
        color: rgb(160, 160, 160);
      }
    }
  }

  .left {
    width: 25%;
    color: #fff;

    .control-wrapper {
      background-color: #333;
      padding: 20px;
      margin-bottom: 20px;

      .controls {
        .top,
        .middle,
        .bottom {
          display: flex;
          flex-direction: row;

          .control {
            background-color: #38374b;
            padding: 4px 8px;
            border-radius: 4px;

            margin-right: 12px;

            transition: background-color 0.3s ease-in-out;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              cursor: pointer;
              background-color: #6e49ff;
            }
          }
          .stop {
            fa-icon {
              color: rgb(248, 87, 87);
            }
          }

          .start {
            fa-icon {
              color: rgb(191, 255, 107);
            }
          }
        }

        .top,
        .middle {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #6e49ff;
        }
      }
    }

    .status-wrapper {
      background-color: #333;

      .title {
        background-color: #333;
        font-size: 18pt;
        font-weight: 100;
        border-bottom: solid 1px #6e49ff;
        color: #fff;

        padding: 10px;

        .node-status {
          .offline {
            color: #f54d4d;
          }

          .online {
            color: #5abfe7;
          }
        }
      }

      .status {
        padding: 20px;

        .stat {
          display: flex;
          flex-direction: row;

          .name {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
