<div class="dialog-wrapper">
  <fa-icon [icon]="faSave" class="icon"></fa-icon>
  <br />
  <!-- Be smart. Save your contract. -->
  Save your contract.
  <hr />
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="name" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Version" [(ngModel)]="version" />
  </mat-form-field>
  <br />
  Latest version: {{ currentVersion }} <br />
  <br />
  <div class="center">
    <button mat-raised-button class="save-button" (click)="save()">Save</button>
    <button
      *ngIf="!new"
      mat-raised-button
      class="save-button"
      (click)="saveAsNew()"
    >
      Save as new
    </button>
    <button
      *ngIf="showSaveAndClose"
      mat-raised-button
      class="save-button"
      (click)="saveAndClose()"
    >
      Save &amp; Close
    </button>
    <button mat-raised-button (click)="close()">Cancel</button>
  </div>
</div>
