<div class="wrapper">

  <section class="left">
    <h5>Logging data from {{nodeName}}</h5>
    <div class="log-display">
      <app-log-terminal [sshService]="ssh" [nodeId]="nodeId"></app-log-terminal>
    </div>
  </section>

  <!-- Disabled as logs will be streamed for the moment -->
  <!-- <section class="right">
    <div class="controls-wrapper">
      <div class="control auto-refresh-toggle" [ngClass]="autoRefresh ? 'refresh-enabled' : 'refresh-disabled'"
        (click)="toggleAutoRefresh()">
        <fa-icon [icon]="icons.autoRefresh"></fa-icon>
        &nbsp;&nbsp;
        Auto Refresh
        <span *ngIf="autoRefresh"> Enabled</span>
        <span *ngIf="!autoRefresh"> Disabled</span>
      </div>

      <div class="control refresh-logs" (click)="getLogs()">
        <fa-icon [icon]="icons.refresh"></fa-icon>
        &nbsp;&nbsp;
        Refresh
      </div>

      <div class="control clear-logs" (click)="clearLogs()">
        <fa-icon [icon]="icons.clear"></fa-icon>
        &nbsp;&nbsp;
        Clear
      </div>
    </div>
  </section> -->

</div>