<div class="wrapper">
  <section class="top">
    <div class="cpu-graph-wrapper top-elem">
      <div class="title">CPU Time graph</div>
      <div class="content">
        <div echarts [options]="cpuChartOptions" class="cpu-chart"></div>
      </div>
    </div>

    <div class="host-info-wrapper top-elem">
      <div class="title">Host Info</div>

      <div class="content">
        <div class="cpu-wrapper">
          <div class="pbar-title">CPU</div>
          <div class="pbar">
            <div class="current-value">3%</div>
            <div class="max-value">100%</div>
            <div class="pbar-fg"></div>
            <div class="pbar-bg"></div>
          </div>
        </div>

        <div class="ram-wrapper">
          <div class="pbar-title">RAM</div>
          <div class="pbar">
            <div class="current-value">13GB</div>
            <div class="max-value">32GB</div>
            <div class="pbar-fg"></div>
            <div class="pbar-bg"></div>
          </div>
        </div>

        <div class="hdd-wrapper">
          <div class="pbar-title">HDD</div>
          <div class="pbar">
            <div class="current-value">300GB</div>
            <div class="max-value">1.2TB</div>
            <div class="pbar-fg"></div>
            <div class="pbar-bg"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="activeledger-wrapper top-elem">
      <div class="title">Activeledger</div>
      <div class="content">
        <div class="version">
          <div class="current-version">Version: 2.3.1</div>
          <div class="latest-version">Latest: 2.3.5</div>
        </div>

        <br />

        <div class="uptime">
          Uptime: 2d 15h
        </div>

        <br />

        <div class="alDiskUsage">
          Activledger disk usage: 3GB
        </div>

        <br />

        <div class="restarts">
          <div class="auto-restarts">Auto restarts: 5</div>
          <div class="manual-restarts">Manual restarts: 5</div>
          <div class="total-restarts">Total restarts: 10</div>
        </div>

        <div class="last-manual-restart">Last Manual Restart: 10:00 - 01/07/2020</div>
      </div>

    </div>
  </section>

  <section class="bottom">
    <div class="nodes-list-wrapper bottom-elem">
      <div class="title">Nodes</div>
      <div class="content">
        <mat-table [dataSource]="nodes" class="node-list">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="tags">
            <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.tags[0]}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.status}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="uptime">
            <mat-header-cell *matHeaderCellDef>Uptime</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.uptime}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="autoRestarts">
            <mat-header-cell *matHeaderCellDef>Auto Restarts</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.restarts.auto}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="totalRestarts">
            <mat-header-cell *matHeaderCellDef>Total Restarts</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.restarts.total}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="refresh">
            <mat-header-cell *matHeaderCellDef>Refresh</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <fa-icon [icon]="icons.refresh" class="list-control refresh"></fa-icon>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="view">
            <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <fa-icon [icon]="icons.view" class="list-control view"></fa-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>

        </mat-table>

      </div>
    </div>

    <div class="problems-list-wrapper bottom-elem">
      <div class="title">Problems</div>
      <div class="content">

        <div class="problem-list">
          <div class="problem" *ngFor="let problem of problems">
            <div class="date">{{problem.date | date: "dd/MM/yy - hh:mm"}}</div>
            <div class="body">
              <p>{{problem.body}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>