.wrapper {
  padding: 60px;
  display: flex;
  flex-direction: column;

  section {
    width: 100%;
  }

  .top-elem,
  .bottom-elem {
    color: #fff;
    margin-right: 50px;
    font-size: 12pt;

    .title,
    .content {
      padding: 5px 15px 10px;
    }

    .content {
      padding-bottom: 20px;
    }

    .title {
      background-color: #333;
      font-size: 18pt;
      font-weight: 100;
      border-bottom: solid 1px #6e49ff;
    }

    &:last-child {
      margin-right: 0;
    }

    .content {
      background-color: #333;
    }
  }

  .cpu-graph-wrapper {
    .cpu-chart {
      height: 200px !important;
    }
  }

  .top,
  .bottom {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .top {
    flex-grow: 1;
    margin-bottom: 50px;
    height: auto;

    .top-elem {
      width: calc(30% + 25px);

      .content {
        .pbar-title {
          text-align: center;
        }

        .pbar {
          height: 20px;

          .current-value,
          .max-value {
            display: inline;
            position: relative;
            z-index: 2;
            top: 1px;
          }

          .current-value {
            left: calc(50% - 14px);
            transform: translateX(-50%);
            text-align: center;
          }

          .max-value {
            float: right;
            right: 6px;
          }

          .pbar-fg {
            background-color: #6e49ff;
            // width: 3%;
            height: 20px;
            position: relative;
            z-index: 1;
            top: -20px;
          }

          .pbar-bg {
            background-color: #030131;
            width: 100%;
            height: 20px;
            position: relative;
            z-index: 0;
            top: -40px;
          }
        }
      }

      .cpu-wrapper,
      .ram-wrapper,
      .hdd-wrapper {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .cpu-wrapper {
        .current-value {
          left: calc(50% - 10px) !important;
        }
      }
    }

    .activeledger-wrapper {
      .content {
        .version {
          .current-version,
          .latest-version {
            display: inline;
          }

          .current-version {
            margin-right: 40px;
          }
        }

        .restarts {
          .auto-restarts,
          .manual-restarts,
          .total-restarts {
            display: inline;
            margin-right: 10px;
            &:last-child {
              margin-right: none;
            }
          }
        }
      }
    }
  }

  .bottom {
    flex-grow: 2;
    height: auto;

    .bottom-elem {
      &:first-child {
        // width: calc(70% - 25px);
        width: 100%;
      }
      /* &:last-child {
        width: calc(30% + 25px);
      } */
    }

    .nodes-list-wrapper {
      .list-topper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: #333;
        border-bottom: solid 1px #6e49ff;
        color: #fff;

        .title {
          border: none;
        }

        .tags-filter {
          background: rgb(235, 235, 235);
          padding: 4px 6px;

          ::ng-deep .mat-select-value,
          ::ng-deep .mat-select-arrow {
            color: #333 !important;
          }
        }
      }

      .content {
        padding: 0;
        .node-list {
          width: 100%;
          margin: 0;

          background-color: #333;
          color: #fff !important;

          .list-control {
            cursor: pointer;

            transition: color 0.3s ease-in-out;

            &:hover {
              color: #6e49ff;
            }
          }

          .node-tag {
            background: #6e49ff;
            border-radius: 20px;
            padding: 4px 10px 4px 12px;
            margin-right: 6px;
          }

          .mat-header-cell,
          .mat-cell {
            color: #fff;
          }

          .selected-node {
            background-color: #6e49ff !important;
          }

          .mat-row:nth-child(even) {
            background-color: #38374b;
          }

          .mat-row {
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: rgba($color: #000, $alpha: 0.4);
            }
          }
        }

        .paginator {
          background-color: #333;
          color: #fff !important;
        }
        .mat-paginator {
          ::ng-deep .mat-select-value,
          ::ng-deep .mat-select-arrow {
            color: #fff !important;
          }

          ::ng-deep .mat-icon-button {
            color: #fff;

            transition: color 0.3s ease-in-out;

            &:hover {
              color: #6e49ff;
            }
          }

          ::ng-deep .mat-icon-button[disabled][disabled] {
            color: rgb(160, 160, 160);
          }
        }
      }
    }

    .problems-list-wrapper {
      .content {
        padding: 0;
        overflow-y: auto;

        max-height: 45%;
        .problem-list {
          .problem {
            padding: 20px;
            background-color: #38374b;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
